h1 {
  color: blue;
}

.game-board {
  width: 640px;
  display: flex;
  flex-wrap: wrap;
}

.sq {
  flex: 0 0 78px;
  height: 78px;
  border: 1px solid black;
}

.sq:hover {
  background-color: gray;
}

.safe {
  background-color: green;
}

.explode {
  background-color: red;
}